@import "tailwindcss";

:root {
  --color-default-text: #151515;
  --color-secondary-text: #717171;
  --color-border: #efefef;
  --color-border-content: #d1d1d1;
  --color-strong-border: #494949;
  --color-background: #ffffff;
  --color-signal: #7dde78;
  --color-previous-signal: #bfbfbf;
}

@theme inline {
  --color-default-text: var(--color-default-text);
  --color-secondary-text: var(--color-secondary-text);
  --color-border: var(--color-border);
  --color-border-content: var(--color-border-content);
  --color-strong-border: var(--color-strong-border);
  --color-background: var(--color-background);
  --color-signal: var(--color-signal);
  --color-previous-signal: var(--color-previous-signal);

  --font-display: var(--font-jakarta);
  --font-mono: var(--font-roboto-mono);
  --font-sans: var(--font-inter);

  --shadow-card: 0 4px 10px 0 rgb(0 0 0 / 0.05);
}

body {
  background: var(--color-background);
  color: var(--color-default-text);
}
